<html>
    <head>
        <%- include('../partials/mapbox') %>


        <style>
            <%- include('../partials/common_styling')%>
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container d-flex flex-column justify-content-center align-items-center' style = 'height: 80vh'>
        <% if (query === 'mrt') { %>
            <div class="row g-3 align-items-center mb-3">
                <div class ='col-auto'>
                <div id="geocoder" class="geocoder row mt-5"></div>
                </div>
            </div>
            <div class="row g-3 align-items-center">

            <form action="/dashboard/mrt" method="POST">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="mrt" class="col-form-label">MRT</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="mrt" class="form-control" name ='mrt'>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="mrtcoordinates" class="form-control"  name='mrtcoordinates'>
                    </div>
                </div>
                <div class = 'mb-3 text-center mt-3'>
                    <button type="submit" class="btn btn-dark" style='border-radius:0'>SUBMIT</button>
                </div>
            </form> 
            </div>
        <% }else{ %>
            <form action="/dashboard/<%=query%>" method="POST">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="mrt" class="col-form-label"><%=query%></label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="item" class="form-control" name ='key'>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="itemValue" class="form-control"  name='keyValue' >
                    </div>
                </div>
                <div class = 'mb-3 text-center mt-3'>
                    <button type="submit" class="btn btn-dark" style='border-radius:0'>SUBMIT</button>
                </div>
            </form>         
        <% } %>
        </div>

    <script>
            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %> ;

            var geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                countries: 'sg', //limit results based on country
            });
            
            document.getElementById('geocoder').appendChild(geocoder.onAdd());

            // retrieve geocode results
                geocoder.on('result', function({ result }) { 
                document.getElementById('mrtcoordinates').value = result.geometry.coordinates;
                document.getElementById('mrt').value = result.place_name;
                // centre or geometry coordinates?
                console.log(typeof document.getElementById('mrtcoordinates').value)
                console.log(result)
            })
            
        </script>
    </body>
</html>