<html>
    <head>
        <%- include('../partials/generic_head') %> 

        <style>
            <%- include('../partials/common_styling')%>

            form {
                margin-block-end: 0em;
            }
            p{
                margin-bottom: 0;
            }
            .btn{
                background-color:#A3DCD4;
                border: none;
                color: black
            }
            .list-group-item{
                background-color:#A3DCD4;
                border-radius:0;
            }
            .list-group{
                border-radius: 0;
            }
            #dashboard{
                color: #A3DCD4;
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <% if (query !== 'mrt' && query !== 'category') { %>
        <div class = 'mt-3 container col-12 g-4 d-flex justify-content-center align-items-center overflow-scroll' style = 'height: 80vh'>

        <ul class="list-group">
            <% let queryKeys = Object.keys(data) %>
            <% queryKeys.forEach(element => { %>
                <li class="list-group-item price-icon" style='margin:2%'>
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p class=""><%-data[element]%></p>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <small>
                            <form action="/dashboard/<%=query+'/'+element%>/edit" method="GET">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-pen"></i></button>
                                </div>
                            </form>
                            <form action="/dashboard/<%=query+'/'+element%>?_method=DELETE" method="POST">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-times"></i></button>
                                </div>
                            </form>
                        </small>
                    </div>
                </li>
            <% }) %>
            
            </ul>
            </div>
            <% }else if (query === 'category') {%>
                <div class = 'mt-3 container col-12  d-flex overflow-scroll' style = 'height: 80vh'>
                <% let queryKeys = Object.keys(data) %>

                <ul class="list-unstyled row g-2 justify-content-center" style='margin-block-start:0' >
                <% queryKeys.forEach(element => { %>
                    <li class="list-group-item col-3" style='margin:2%'>
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p class=""><%= data[element]%></p>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <small>
                            <form action="/dashboard/category/<%=element%>/edit" method="GET">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-pen"></i></button>
                                </div>
                            </form>
                            <form action="/dashboard/category/<%=element%>?_method=DELETE" method="POST">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-times"></i></button>
                                </div>
                            </form>
                        </small>
                    </div>
                    </li>
                <% }) %>
                </ul>
            </div>
            <% }else{ %>
                 <div class = 'mt-3 container col-12  d-flex overflow-scroll' style = 'height: 80vh'>

                <ul class="list-unstyled row justify-content-center" style='margin-block-start:0' >
                <% data.forEach(element => { %>
                    <li class="list-group-item col-2" style='margin:2%'>
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p class=""><%= element.station%></p>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <small>
                            <form action="/dashboard/mrt/<%=element.slug%>/edit" method="GET">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-pen"></i></button>
                                </div>
                            </form>
                            <form action="/dashboard/mrt/<%=element.slug%>?_method=DELETE" method="POST">
                                <div class = ''>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-times"></i></button>
                                </div>
                            </form>
                        </small>
                    </div>
                    </li>
                <% }) %>
                </ul>
            <% } %>
        </div>

            
        
    </body>
</html>