<html>
    <head>
    <%- include('../partials/generic_head') %> 
    <%- include('../partials/common_styling')%>
    
    <!-- other styling -->
    <style>
        .card{
            font-size: small;
        }
        .checked {
          color: orange;
        }
    </style>

    </head>

    <body>
        <%- include('../partials/navbar') %>

        <!-- card containers -->
        <div class = 'container'>
            <div class="row row-cols-1 row-cols-md-4 g-4">

                <%eats.forEach(element => { %>
                    <div class="col">
                    <div class="card h-100 mt-4">
                        <img src="..." class="card-img-top" style='width: 100%;height: 15vw;object-fit: cover;'alt="...">
                        
                        <div class="card-body">
                            <h5 class="card-title placeName"><a href="/eats/<%=element.slug%>"><%=element.placeName%></a></h5>
                            <p class="card-text ratings">
                                <% for (let i = 0; i < 5 ; i++){ %>
                                    <% if (i < element.ratings) { %>
                                        <span class="fas fa-star checked"></span>
                                    <% } else { %>
                                        <span class="fas fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>
                            <p class="card-text price">
                                <% for (let i = 0; i < element.price ; i++){ %>
                                    <span class="fas fa-dollar-sign"></span>
                                <% } %>
                            </p>
                            
                            <% if (element.comments) { %>
                                <p class="card-text comments"><%=element.comments%></p>
                            <% } %>  
                        </div>

                        <div class="card-footer">
                        <small class="text-muted"><%=element.updatedAt%></small>
                        </div>

                    </div>
                </div>
                <%}); %>
            </div>
        </div>
    </body>
</html>