<html>
    <head>
        <%- include('../partials/generic_head') %> 

        <style>
            <%- include('../partials/common_styling')%>
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <!-- card containers -->
        <div class = 'container'>

            <div class="row row-cols-1 row-cols-md-4 g-4">

                <%eats.forEach(element => { %>
                    <div class="col">
                    <div class="card h-100 mt-4">

                        <% if (element.image !== undefined && element.image !== '') { %>
                        <img src="<%= element.image%>" class="card-img-top" style='width: 100%;height: 15vw;object-fit: cover;'alt="...">
                        <% }else { %>
                            <img src="https://res.cloudinary.com/dct3wrzog/image/upload/v1623327776/eatwat/unknown4_lky43f.jpg" class="card-img-top" style='width: 100%;height: 15vw;object-fit: cover;'alt="...">
                        <% } %>

                        <div class="card-body">
                            <h5 class="card-title placeName text-center"><a href="/eats/<%=element.slug%>"><%=element.placeName%></a></h5>
                            
                            <p class="card-text ratings text-center ratings-icon">
                                <%- include('../partials/ratings',{singleEat:element}) %>
                            </p>

                            <p class="card-text price text-center price-icon">
                                <%- include('../partials/price',{singleEat:element}) %>
                            </p>
                            
                            <% if (element.comments) { %>
                                <p class="card-text comments text-center"><%=element.comments%></p>
                            <% } %>  
                        </div>

                        <div class="card-footer">
                        <small class="text-muted text-center"><%=element.updatedAt%></small>
                        </div>

                    </div>
                </div>
                <%}); %>
            </div>
        </div>
    </body>
</html>