<html>
    <head>
            <%- include('../partials/mapbox') %>
        <style>
            <%- include('../partials/mapbox_geocoder_styling') %>
        </style>
    </head>
    
    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container'>
        <div id="geocoder" class="geocoder row mt-5"></div>

        <div class = 'row mt-3 justify-content-center align-items-center'>
            <div class = 'col-6'>
                <form action="/eats" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="placeNameAndAddress" name = 'placeNameAndAddress' >
                    </div>

                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="coordinates" name = 'coordinates' >
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" autocomplete = 'on' list="mrtStations" id="mrt" name = 'mrt' placeholder="nearest MRT" >
                        <datalist id="mrtStations">
                            <% mrtStations.forEach(element => { %>
                                <option value= '<%=element.station%>' >
                            <%}); %>
                        </datalist>
                    </div>

                    <div class = 'mb-3 row justify-content-center align-items-center'>
                        <div class = 'col-4'>
                            <select class="form-control tags" id = 'ratings' name = 'ratings'>
                                <option selected>RATINGS</option>
                                <% let ratingKey = Object.keys(ratings)%>
                                <% for (let i = 0; i < ratingKey.length ; i++) { %>
                                    <option value=<%= ratingKey[i]%>>
                                        <%- ratings[ratingKey[i]] %>
                                    </option>
                                <% } %>
                                
                            </select>
                        </div>

                        <div class = 'col-4'>
                            <select class="form-control tags" name = 'price'>
                                <option selected>PRICE</option>
                                <% let priceKey = Object.keys(price)%>
                                <% for (let i = 0; i < priceKey.length ; i++) { %>
                                    <option value=<%= priceKey[i]%>>
                                        <%- price[priceKey[i]] %>
                                    </option>
                                <% } %>
                            </select>
                        </div>

                        <div class = 'col-4'>
                            <select class="form-control tags" name ='tags' id ='tags'>
                                <option selected>CATEGORY</option>
                                <% category.forEach(element => { %>
                                    <option value="<%=element%>">
                                        <%=element%>
                                    </option>
                                <% }); %>
                               
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" id="comments" rows="3" name='comments' placeholder="Comments"></textarea>
                    </div>

                    <div class="mb-3">
                        <input class="form-control form-control-sm" id="image" name='image' type="file">
                    </div>

                    <div class = 'mb-3 text-end'>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <script>
            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %> ;

            var geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                countries: 'sg',
            });
            
            document.getElementById('geocoder').appendChild(geocoder.onAdd());

            // retrieve geocode results
                geocoder.on('result', function({ result }) { 
                document.getElementById('coordinates').value = result.geometry.coordinates;
                document.getElementById('placeNameAndAddress').value = result.place_name;
                // centre or geometry coordinates?
                console.log(typeof document.getElementById('coordinates').value)
                console.log(result)
            })
            
        </script>
    </body>
</html>