<html>
    <head>
        <%- include('../partials/generic_head') %> 

        <style>
            <%- include('../partials/common_styling')%>
            .small-card{
                background: white;
            }
            .card-containers{
                background: #A3DCD4;
            }
            #random{
                color: #A3DCD4;
            }
            .btn{
                border-radius:0;
                background:#A3DCD4;
                color:black;
                font-size:120%;
                border:none
            }
        </style>
    </head>

    <body>
        <%- include('../partials/navbar') %>

        <!-- card containers -->
        <div class = 'row d-flex justify-content-center align-items-center card-containers'>
                    <div class = 'row mt-3 justify-content-start align-items-center' style='padding:0; position:absolute'>
                        <div class= 'col-1 text-center' style = 'padding:0; margin-left:1%'>
                            <a type="btn" class="btn btn-dark" href='/eats/random'><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                    <div class ='card-group mt-4' style = 'width:80vw;height:40vh'>
                        <div class="row card" style="height:40vh; width:80vw">
                            <div class="row g-0">
                                <div class="col-md-6" style =''>
                                    <% if (eats[0].image !== undefined && eats[0].image !== '') { %>
                                        <img src="<%=eats[0].image%>" alt="..." style= 'height: 40vh; width: 40vw;object-fit:cover'>
                                    <% }else { %>
                                        <img src="https://res.cloudinary.com/dct3wrzog/image/upload/v1623327776/eatwat/unknown4_lky43f.jpg" alt="..." style= 'height: 40vh; width: 40vw;object-fit:cover'>
                                    <% } %>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><a href='/eats/<%=eats[0].slug%>'>
                                            <%=eats[0].placeName%>
                                        </a></h5>
                                        <p class="card-text text-center"><%=eats[0].address%></p>
                                        <p class="card-text ratings text-center ratings-icon">
                                            <%- include('../partials/ratings',{singleEat: eats[0]}) %>
                                        </p>
                                        <p class="card-text price text-center price-icon">
                                            <%- include('../partials/price',{singleEat: eats[0]}) %>
                                        </p>

                                        <p class="card-text text-center"><%=eats[0].category%></p>

                                        <% if (eats[0].comments) { %>
                                            <p class="card-text comments text-center"><%=eats[0].comments%></p>
                                        <% } %>  
                                        <p class="card-text text-center"><small class="text-muted"><%= eats[0].updatedAt%></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class =' ard-group d-flex mt-4 mb-4 justify-content-between align-items-center' style = 'width:80vw;height:40vh'>
                    <% for (let i = 1; i <eats.length; i++) { %>
                        <div class="colored-card row card h-100 d-flex justify-content-center align-items-center mt-2 mb-2" style="height:40vh; width:25vw">
                                <div class="small-card card-body overflow-scroll" style="height:40vh; width:25vw">
                                    <h5 class="card-title text-center"><a href='/eats/<%=eats[i].slug%>'>
                                        <%=eats[i].placeName%>
                                    </a></h5>

                                    <p class="card-text text-center"><%=eats[i].address%></p>

                                    <p class="card-text ratings text-center ratings-icon"><%- include('../partials/ratings',{singleEat: eats[i]}) %></p>
                                    
                                    <p class="card-text price text-center price-icon"><%- include('../partials/price',{singleEat: eats[i]}) %></p>

                                    <p class="card-text text-center"><%=eats[i].category%></p>
                                    
                                    <% if (eats[0].comments) { %>
                                            <p class="card-text comments text-center"><%=eats[i].comments%></p>
                                    <% } %>  
                                </div>
                        </div>

                    <% } %> 

                    
            </div>
        </div>
    </body>
</html>