<html>
    <head>
        <%- include ('../partials/mapbox') %>
    
        <!-- other styling -->
        <style>
            <%- include('../partials/common_styling')%>

            /* .col-4 {
                background-color: teal;
            } */
            .content {
                background-color: white;
                min-height: 50vh;
                max-height: 50vh;
                margin: 5%;
            }
            #map {
                min-height: 50vh;
                max-height: 50vh;
                margin: 5%;
            }
            .text-muted{
                font-size: 60%;
            }
            .info{
                min-height: 50vh;
                margin: 5%;
            }
            .singleEatContainer{
                height:90vh;
                min-width: 100%;
            }
            p{
                font-size: 80%;
            }
            .btn {
                font-size: 70%;
            }
            
        </style>

    </head>

    <body>
        <%- include('../partials/navbar') %>

            <div class = 'container singleEatContainer row  d-flex justify-content-center align-items-center'>
                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div id='map' class='col'></div>
                </div>

                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div class = 'info row d-flex align-items-between'>
                        <div class ='row'>
                            <h3 class="text-center"><%=singleEat.placeName%></h3>

                            <p class="text-center ratings-icon"><%- include('../partials/ratings') %></p>

                            <p class= 'text-center price-icon'><%- include('../partials/price') %></p>
                            
                            <p class= 'text-center'>MRT:<%=singleEat.mrt%></p>
                            <p class= 'text-center'><%=singleEat.category%></p>

                            <p class= 'text-center'><%=singleEat.address%></p>

                            <% if (singleEat.comments) { %>
                                <p class='text-center'>"<%=singleEat.comments%>"</p>
                            <% } %>  

                        </div>

                        <div class='row'>
                            <small class="text-muted text-center"><%=singleEat.updatedAt%></small>
                        </div>

                        <div class ='row justify-content-center mt-3'>
                            <div class = 'col-2'>
                                <a type="btn" class="btn btn-dark" href='/eats'><i class="fas fa-undo-alt"></i></a>
                            </div>

                            <div class = 'col-2'>
                                <a type="btn" class="btn btn-dark" href='/eats/<%=singleEat.slug%>/edit'><i class="fas fa-pen"></i></a>
                            </div>

                            <div class = 'col-2'>
                                <form action="/eats/<%=singleEat.slug%>?_method=DELETE" method="POST">
                                    <div class = 'mb-3'>
                                        <button type="submit" class="btn btn-dark"><i class="fas fa-times"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div class = 'content'>
                        <% if (singleEat.image !== undefined && singleEat.image !==  '') { %>
                            <img src = '<%=singleEat.image%>' style='width:50vh; height:50vh;object-fit:fill;'>
                        <% }else{ %>
                            <img src = 'https://res.cloudinary.com/dct3wrzog/image/upload/v1623327776/eatwat/unknown4_lky43f.jpg' style='width:50vh; height:50vh;object-fit:fill;'>
                        <% } %>
                    </div>
                </div>
                    
            </div>
            

        <script>
            let singleEatCoordinatesString = <%- JSON.stringify(singleEat.coordinates) %> 
            console.log(singleEatCoordinatesString)
            let singleEatCoordinatesArray = singleEatCoordinatesString.split(',')
            let singleEatLongitude = singleEatCoordinatesArray[0]
            let singleEatLatitude = singleEatCoordinatesArray[1]

            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %> ;
            const map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/lingy93/ckne1ifkw2r8y17qj11k2pg5h', // style URL
                center: [singleEatLongitude, singleEatLatitude], // starting position [lng, lat] note that mapbox studio shows [lat,lng]
                zoom: 15 // starting zoom
            });
            var marker1 = new mapboxgl.Marker()
                .setLngLat([singleEatLongitude, singleEatLatitude])
                .addTo(map);            
        </script>

    </body>
</html>