<html>
    <head>
    <%- include('../partials/generic_head') %> 
    <%- include('../partials/common_styling')%>
    <%- include ('../partials/mapbox') %>
    
    <!-- other styling -->
    <style>
        .card{
            font-size: small;
        }
        .checked {
          color: orange;
        }
        /* .col-4 {
            background-color: teal;
        } */
        .content {
            background-color: white;
            min-height: 50vh;
            max-height: 50vh;
            margin: 5%;
        }
        #map {
            min-height: 50vh;
            max-height: 50vh;
            margin: 5%;
        }
        .text-muted{
            font-size: 80%;
        }
        .info{
            padding: 5%;
        }
        .container{
            height: 80vh;
        }
    </style>

    </head>

    <body>
        <%- include('../partials/navbar') %>

        <div class = 'container d-flex justify-content-center align-items-center'>
            <div class = 'row' style ='height: 80%;width: 100%;'>
                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div id='map' class='col'></div>
                </div>

                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div class = 'info content row d-flex align-items-between'>
                        <div class ='row'>
                            <h2 class="text-center"><%=singleEat.placeName%></h2>
                            <p class="text-center">
                                <% for (let i = 0; i < 5 ; i++){ %>
                                    <% if (i < singleEat.ratings) { %>
                                        <span class="fas fa-star checked"></span>
                                    <% } else { %>
                                        <span class="fas fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>

                            <p class= 'text-center'>
                                <% for (let i = 0; i < singleEat.price ; i++){ %>
                                    <span class="fas fa-dollar-sign"></span>
                                <% } %>
                            </p>
                            <p class= 'text-center'>MRT:<%=singleEat.mrt%></p>
                            <p class= 'text-center'><%=singleEat.address%></p>

                            <% if (singleEat.comments) { %>
                                <p><%=singleEat.comments%></p>
                            <% } %>  

                        </div>

                        <div class='row'>
                            <small class="text-muted text-center"><%=singleEat.updatedAt%></small>
                        </div>
                        
                    </div>

                </div>

                <div class = 'col-4 d-flex justify-content-center align-items-center'>
                    <div class = 'content'>
                        <img src = '#'>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let singleEatCoordinatesString = <%- JSON.stringify(singleEat.coordinates) %> 
            console.log(singleEatCoordinatesString)
            let singleEatCoordinatesArray = singleEatCoordinatesString.split(',')
            let singleEatLongitude = singleEatCoordinatesArray[0]
            let singleEatLatitude = singleEatCoordinatesArray[1]

            mapboxgl.accessToken = <%- JSON.stringify(mapAccessToken) %> ;
            const map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/lingy93/ckne1ifkw2r8y17qj11k2pg5h', // style URL
                center: [singleEatLongitude, singleEatLatitude], // starting position [lng, lat] note that mapbox studio shows [lat,lng]
                zoom: 15 // starting zoom
            });
            var marker1 = new mapboxgl.Marker()
                .setLngLat([singleEatLongitude, singleEatLatitude])
                .addTo(map);            
        </script>

    </body>
</html>